.catalog {
  display: grid;
  justify-content: center;
  gap: 48px;

  @media (min-width: 488px) {
    grid-template-columns: $width-card $width-card;
  }

  @media (min-width: 768px) {
    grid-template-columns: repeat(3, $width-card);
  }

  @media (min-width: 1024px) {
    grid-template-columns: repeat(4, $width-card);
  }

  &__card {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 300px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
}
